MYSQL_ROOT_PASSWORD=
DB_USERNAME=
DB_PASSWORD=
JWT_SECRET=
JWT_TOKEN_EXPIRATION_IN_MILLIS=
JWT_RENEW-TOKEN_EXPIRATION_IN_MILLIS=

# Base URL for generating full URLs (e.g., https://yourdomain.com or http://localhost:8080)
BASE_URL=http://localhost:8080

# Upload directory for files
UPLOAD_DIR=uploads

