MYSQL_ROOT_PASSWORD=root
DB_USERNAME=root
DB_PASSWORD=root
DB_URL=jdbc:mysql://localhost:3306/appointment?allowPublicKeyRetrieval=true&useUnicode=yes&characterEncoding=UTF-8&characterSetResults=UTF-8&useSSL=false&createDatabaseIfNotExist=true

JWT_SECRET=change-me-to-a-long-random-secret-key
JWT_TOKEN_EXPIRATION_IN_MILLIS=86400000
JWT_RENEW-TOKEN_EXPIRATION_IN_MILLIS=604800000

BASE_URL=http://localhost:8080
UPLOAD_DIR=uploads
SERVER_PORT=8080
